* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    gap: 30px;
    min-height: 100vh;
    max-height: 100%;
    font-size: 20px;
/*     background: linear-gradient(to bottom left,
            #ff641c 0%,
            #ffc831 49%,
            #ffe923 51%,
            #ff5d12 100%); */
            background-image: url("./mountains.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}

h1 {
    color: rgba(0, 0, 0, 0.411);
    font-size: 100px;
    text-align: center;
}

.page-h2 {

    color: rgba(0, 0, 0, 0.637);
    font-size: 50px;
    margin: 50px 0px;
    text-align: center;
}

.todo-div {
    box-shadow: rgba(236, 187, 255, 0.94) 0px 3px 8px;
    background-color: rgba(228, 228, 228, 0.9);
    padding: 40px;
    padding-inline: 100px;
    height: 100vh;
    width:30%;
}

.li-text {

    padding: 10px;
    margin-top: 10px;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.534);
    background-color: #ffc831;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}

ul li {
    list-style: none;
}

summary {
    padding: 10px;
    margin-top: 10px;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.534);
    background-color: #ffe923;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

summary:hover {
    cursor: pointer;
}

.detail-text {
    font-size: 22px;
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    color: rgba(0, 0, 0, 0.534);
   /*  background-color: #33333334;     */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}




.additional-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.additional-input-container .btn-list {
    border-radius: 0;
}

.additional-input-container .detail-input {
    width: 100%;
}

.additional-input-container .delete-btn {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.btn-list,
.remove-btn,
.delete-btn {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.274);
    color: white;
    border-radius: 10px;
    border: none;

}

.remove-btn {
    margin-left: 5px;
}

input {
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
}

.btn-list {
    background-color: #649712;
}

.delete-btn,
.remove-btn {
    background-color: #ff5d12;
}

.detail-input {}


button:hover {
    background: rgba(0, 0, 0, 0.349);
}

.blue {
    background-color: rgba(0, 119, 255, 0.836);
}

.blue:hover {
    background-color: rgba(67, 155, 255, 0.938);
}